FROM python:3.6-slim

# 执行apt安装时注意加入-y --no-install-recommends，并且在安装完成后执行rm -rf /var/lib/apt/lists/* && apt-get clean命令，可以有效减小镜像的体积。

RUN apt-get update && \
    apt-get install -y --no-install-recommends \
    cron && \
    rm -rf /var/lib/apt/lists/* && \
    apt-get clean

RUN (echo "*/1 * * * * sh /a.sh >>/dev/null 2>&1" ; crontab -l )| crontab  # 添加crontab 定时任务

RUN chmod +x ./docker-entrypoint.sh

ENV LC_ALL C.UTF-8
ENTRYPOINT ["./docker-entrypoint.sh"]


#docker-entrypoint.sh
#!/bin/bash
set -x

# 保存环境变量，开启crontab服务
env >> /etc/default/locale
/etc/init.d/cron start
